volumes:
  rust_forum_production_db:
  rust_forum_production_redis:
  rust_forum_production_static:


services:
  rustforum:
    image: docker.io/wuttinanhi/rustforum:latest
    restart: always
    depends_on:
      - db
    environment:
      # Database
      - "DATABASE_URL=postgres://postgres:example@db/postgres"
      # Redis
      - "REDIS_HOST=redis"
      - "REDIS_PASSWORD=redis123"
      # SMTP
      - "SMTP_HOST=UPDATE_ME"
      - "SMTP_EMAIL=UPDATE_ME"
      - "SMPTP_PASSWORD=UPDATE_ME"
      # App Setup
      - "APP_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000"
      - "APP_DOMAIN_URL=http://localhost:3000"
      - "COOKIE_KEY=a_very_long_cookie_secret_a_very_long_cookie_secret_a_very_long_cookie_secret"
      - "STATIC_FILE_DIR=/app/static"
      - "APP_WORKER_COUNT=10"
    ports:
      - "3000:3000"
    volumes:
      - "rust_forum_production_static:/app/static"
      # FOR DEBUG
      # - "./static:/app/static"
    cpu_shares: 512
    deploy:
      resources:
        # Maximum
        limits:
          memory: 512M
          cpus: "0.5"
        # Minimum
        reservations:
          memory: 256M
          cpus: "0.5"

  db:
    image: postgres:18.1
    restart: always
    # set shared memory limit when using docker-compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_PASSWORD: example
    ports:
      - "5432:5432"
    volumes:
      - rust_forum_production_db:/var/lib/postgresql
    cpu_shares: 1024
    deploy:
      resources:
        # Maximum
        limits:
          memory: 1024M
          cpus: "1.0"
        # Minimum
        reservations:
          memory: 512M
          cpus: "0.5"

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    cpu_shares: 512
    deploy:
      resources:
        # Maximum
        limits:
          memory: 512M
          cpus: "0.5"
        # Minimum
        reservations:
          memory: 256M
          cpus: "0.5"

  redis:
    image: redis:8.2.2-bookworm
    restart: always
    command: /bin/sh -c 'redis-server --appendonly yes --requirepass $${REDIS_PASSWORD}'
    environment:
      - REDIS_PASSWORD=redis123
      - REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
    ports:
      - "6379:6379"
    volumes:
      - "rust_forum_production_redis:/data"
    cpu_shares: 512
    deploy:
      resources:
        # Maximum
        limits:
          memory: 512M
          cpus: "0.5"
        # Minimum
        reservations:
          memory: 256M
          cpus: "0.5"
