volumes:
  rust_forum_dev_db:
  rust_forum_dev_redis:

services:
  db:
    image: postgres:18-bookworm
    restart: always
    # set shared memory limit when using docker-compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      # PGDATA: /var/lib/postgresql/18/docker
      POSTGRES_PASSWORD: example
    ports:
      - "5432:5432"
    volumes:
      - rust_forum_dev_db:/var/lib/postgresql

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"

  # redis
  # test connection command: redis-cli -u redis://:redis123@redis
  redis:
    image: redis:8.2.2-bookworm
    restart: always
    command: /bin/sh -c 'redis-server --appendonly yes --requirepass $${REDIS_PASSWORD}'
    environment:
      - REDIS_PASSWORD=redis123
      - REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
    ports:
      - "6379:6379"
    volumes:
      - "rust_forum_dev_redis:/data"
