APP_CORS_ORIGINS=https://www.rust-lang.org
APP_DOMAIN_URL=http://localhost:3000/
STATIC_FILE_DIR=/app/static/
COOKIE_KEY=a_very_long_cookie_secret_a_very_long_cookie_secret_a_very_long_cookie_secret

DATABASE_URL=postgres://postgres:example@localhost/postgres

SMTP_HOST=UPDATE_ME
SMTP_EMAIL=UPDATE_ME
SMPTP_PASSWORD=UPDATE_ME

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=redis123
