{{#*inline "page"}}

{{ #if user }}
Welcome: {{user.name}}
<br>

<a href="users/logout">Logout</a>
{{else}}
Welcome
<br>

<a href="users/register">Register</a>
<br>
<a href="users/login">Login</a>
{{/if}}

{{/inline}}
{{> (lookup this "parent")}}