<div id="pagination" class="mt-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>

            <div class="px-2">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Page" aria-label="Page"
                        aria-describedby="button-addon2" style="width: 5em;">

                    <button class="btn btn-outline-primary" type="button" id="button-addon2">Go</button>
                </div>
            </div>

            <div class="px-2">
                <div class="input-group">
                    <select class="form-select" id="page_limit" aria-label="page limit" style="height: 2.5rem;">
                        <option value="10" selected>10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>

        </ul>
    </nav>
</div>