{{#*inline "page"}}

<div class="row my-5">
  <div class="col"></div>
  <div class="col-6 mb-5">

    <h3 class="h3 mb-3 font-weight-normal">User settings</h3>
    <hr>

    <form class="form mt-3" method="post" action="/users/profilepicture" enctype="multipart/form-data">
      <div class="my-2 flex flex-col justify-center">
        <img src="{{ user.user_profile_picture_url }}" class="self-center rounded mx-auto d-block rounded-circle"
          style="width: 150px; height: 150px;">

          <br/>

          <h3 class="text-center">{{user.name}}</h3>
      </div>

      <div class="mb-3">
        <label for="profile_picture" class="form-label">Profile picture</label>

        <div class="input-group mb-3">
          <input class="form-control" type="file" id="profile_picture" name="new_profile_picture">

          <button class="btn btn-primary btn-block" type="submit" id="submit_profile_picture">
            Upload
          </button>
        </div>

      </div>
    </form>

    <form class="form mt-3" method="post" action="/users/update">
      <div class="mb-3">
        <label for="new_name" class="form-label">Name</label>
        <input 
          name="new_name" 
          type="text" 
          class="form-control" 
          placeholder="Name" 
          required="true"
          value="{{user.name}}" 
          id="new_name" 
        />
      </div>

      <div class="mt-3">
        <button class="btn btn-primary btn-block" type="submit-name">
          Save
        </button>
      </div>
    </form>

    <form class="form mt-5" method="post" action="/users/changepassword">
      <h3 class="h3 mb-3 font-weight-normal">Change Password</h3>
      <hr>

      <label for="current_password" class="form-label">Current Password</label>
      <input name="current_password" type="password" class="form-control"
        placeholder="Current Password" required="true" id="current_password" />

      <label for="new_password" class="form-label">New Password</label>
      <input name="new_password" type="password" class="form-control" placeholder="New Password"
        required="true" id="new_password" />

      <label for="confirm_password" class="form-label">Confirm New Password</label>
      <input name="confirm_password" type="password" class="form-control"
        placeholder="Confirm New Password" required="true" id="confirm_password" />

      <div class="mt-3">
        <button class="btn btn-primary btn-block" type="submit" id="submit-change-password">Change Password</button>
      </div>
    </form>

    <form class="form mt-5" method="post" action="/users/logout">
      <h3 class="h3 mb-3 font-weight-normal">Logout</h3>
      <hr>

      <button class="btn btn-danger btn-block" type="submit" id="btn-logout">
        Logout
      </button>
    </form>

  </div>
  <div class="col"></div>
</div>

{{/inline}}
{{> (lookup this "parent")}}